# Prerequisites
*.d
*.include

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/Debug

/vc/.vs/cake/v17
/vc/Debug
/vc/Release
/vc/x64/Release
/src/out
/src/build
/vc/DebugTest
/vc/x64/Debug
/src/sqlite3.h
/src/sqlite3.c
/src/sqlite3ext.h
/src/shell.c
src/cake
*.sarif
/src/.vs/

/vc/.vs/cake/FileContentIndex
/.vscode/
/vc/cake/Debug
/vc/cake/x64/Debug
/vc/cake/DebugTest
