.leftSide, .rightSide, .splitter {
    position: absolute;
    height: 100%;
    overflow: hidden;
}


.topSide, .splitter {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.bottomSide {
    position: absolute;
    width: 100%;
    overflow: auto;
}



.leftSide > div, .rightSide > div {
    height: 100%;
    width: 100%;
    position: relative;
}



.topSide > div, .bottomSide > div {
    height: 100%;
    width: 100%;
    position: relative;
}