name: ci

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:

  clang-mac:
    if: false
    runs-on: macos-latest

    steps:    
    - uses: actions/checkout@v4
    - run: clang --version
    - name: Build and Test Clang      
      run: |        
        cd src
        clang -DTEST -o build  build.c 
        ./build
            
  linux-gcc:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - run: gcc --version
    - name: Build and test
      run: |
        cd src
        gcc -DTEST build.c -o build
        ./build



  windows-msvc-x86:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4
    - uses: ilammy/msvc-dev-cmd@v1.13.0
      with:
        arch: amd64_x86
    - name: Build and test
      run: |
        cd src
        cl build.c -DTEST 
        .\build.exe

  windows-msvc-x64:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4
    - uses: ilammy/msvc-dev-cmd@v1.13.0
      with:
        arch: x64
    - name: Build and test
      run: |
        cd src
        cl build.c -DTEST 
        .\build.exe

 
